createDummyData_old.R
notes/*
.DS_Store
*.rds
*.pdf
toyExample/test*
eitzel2013/
sutton_measurementError/*.csv
sutton_measurementError/*.rds
sutton_measurementError/measurementError
Fagus_sylvatica/
Picea_abies/
Tilia_platyphyllos/
*.csv
*.vscode/
